# Credentials
.env

# Python (standard ignores)
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / Packaging
build/
dist/
local_test/
*.egg-info/
*.egg/

# Project specific (Root level)
cli_test/
archive/
test.py
assets/